.App-footer {
  font-size: 14px;
  font-weight: 200;
  margin: 120px 0 -20px;
  text-align: center;
}
.linkedin-link,
.github-link {
  font-weight: 300;
  text-decoration: none;
}

.React-logo {
  height: 20px;
}
