.Dictionary section {
  padding: 30px;
  border-radius: 6px;
  box-shadow: 3px 10px 20px 4px;
  margin: 20px 0;
}

.Dictionary h1 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
  color: white;
}

.Dictionary .search-input {
  color: #7f91a3;
  padding: 22px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
}

.Dictionary .form-control {
  border: 1px solid rgb(144, 144, 144);
  border-radius: 0;
  box-shadow: 3px 7px 10px rgba(138, 138, 138, 0.479);
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  margin-top: 20px;
  padding-left: 55px;
}

.Dictionary .form-control-search {
  color: #414141;
  display: block;
  line-height: 50px;
  padding-left: 20px;
  position: absolute;
  text-align: center;
}
